{{!-- <h1>Counter Index</h1>


<div>
    Start here

    <form action="/count" method="post">
        <div class="counter">
            {{counter}}
        </div>
        <input type="submit" value="Press button to count">

    </form>

</div> --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="simple-grid.css">
    <link rel="stylesheet" href="/style2.css">
</head>

<body>

    <div class="container">

        <div class="row">
            <div class="col-12 center">
                <h1>Control Panel</h1>


            </div>

        </div>


        {{!-- <div class="row">
            <div class="col-5 right">
                <div>
                    Small
                </div>
            </div>
            <div class="col-1 right ">

                <a href="/add-small" class="circleButton plusButton1" type="button" name="button">+</a>

            </div>
            <div class="col-1 left">

                <a href="/minus-small" class="sqButton minusButton1">-</a>

            </div>
            <div class="col-5 left">
                <div>
                    <span class="smallTotalOne">R{{smallPizzaTotal}}</span>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-5 right">
                <div>
                    Medium
                </div>
            </div>
            <div class="col-1 right ">

                <a href="/add-medium" class="circleButton plusButton2">+</a>

            </div>
            <div class="col-1 left">

                <a href="/minus-medium" class="sqButton minusButton2">-</a>

            </div>
            <div class="col-5 left">
                <div>
                    <span class="mediumTotalOne">R{{mediumPizzaTotal}}</span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-5 right">
                <div>
                    Large
                </div>
            </div>
            <div class="col-1 right ">

                <a href="add-large" class="circleButton plusButton3">+</a>

            </div>
            <div class="col-1 left">

                <a href="/minus-large" class="sqButton minusButton3">-</a>

            </div>
            <div class="col-5 left">
                <div>
                    <span class="largeTotalOne">R{{largePizzaTotal}}</span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-5 right">
                <div>
                    Total Cost
                </div>
            </div>
            <div class="col-1 right ">

            </div>
            <div class="col-1 left">

            </div>
            <div class="col-5 left">
                <div>
                    <span class="grandTotalOne">R{{grandTotal}}</span>
                </div>
            </div>

        </div> --}}

        {{!-- <div class="row">
            <div class="col-12 center">
                <a href="/update-userID" class="checkoutButton">Checkout</a>

            </div>
        </div> --}}


        {{!-- <div class="row">
            <div class="col-12 center">
                <a href="/create-order" class="checkoutButton">Order</a>
                <span class="grandTotalOne">R{{orders}}</span>
            </div>
        </div>





        <div>

        </div>

        <div class="section">

            <h2>Order</h2>

            <span class="id">#{{userID}}</span> --}}

            {{!-- <form action="/reminder" method="POST">

                <div>
                    <label for="">Payment amount:</label>
                    <input type="text" name="firstName">
                </div>

                <div>
                    <input type="submit" class="bigger-button" value="Pay">
                </div>
            </form> --}}

        {{!-- </div>



        <div>
            <span class="grandTotalOne">Amount due: R{{grandTotal}}</span>
        </div>


        <div class="row1">
            <div class="col-12 center">

                <h3>Payment amount: </h3> --}}

                {{!-- <form action="/msg" method="POST"> --}}
                    {{!-- <div> --}}

                        {{!-- <input type="text" name="" value="" class="Payments"> --}}

                        {{!--
                    </div> --}}

                    {{!-- <button class="payButton" type="submit">Purchase</button>

                    <div>

                    </div> --}}
                    {{!--
                </form> --}}

                <span class="">{{paymentMsg}}</span>

            </div>

        </div>

        <div class="row2 hidden">
            <div class="col-12 center">

                <h1>Enjoy your Pizzas!😊</h1>
            </div>
        </div>



        <div class="row3 hidden">
            <div class="col-12 center">

                <h1>Sorry! that is not enough money ☹</h1>
            </div>
        </div>

        <div class="row4 hidden">
            <div class="col-12 center">

                <h1>Please enter an Amount</h1>
            </div>
        </div>




        <div class="row">
            <div class="col-4 center pizza-info">
                <!-- This content will take up 3/12 (or 1/4) of the container -->
                <h2>Green House</h2>
                <img src="greenhouse-icon-edited.jpg" width="150">
                <h3>
                    <div>
                        <span class="smallTotalOne">Temperature: {{smallPizzaTotal}} °C</span>
                    </div>
                </h3>

                <div class="circleButton plusButton1">

                    <a href="/add-small" class="circleButton plusButton1" type="button" name="button">+</a>

                </div>

              
                <div class="circleButton plusButton1">

                    <a href="/minus-small" class="circleButton plusButton1" type="button" name="button">-</a>

                </div>
                

                
            </div>
            <div class="col-4 center pizza-info">
                <!-- This content will take up 3/12 (or 1/4) of the container -->
                 <h2>Pesticide Level</h2>
                <img src="pesticide-level.jpg" width="150">
                <h3>
                    <div>
                        <span class="mediumTotalOne">Pesticide Level: {{mediumPizzaTotal}} Kg</span>

                        
                    </div>
                </h3>

                <div class="circleButton plusButton1">

                    <a href="/add-medium" class="circleButton plusButton1" type="button" name="button">+</a>

                </div>

              
                <div class="circleButton plusButton1">

                    <a href="/minus-medium" class="circleButton plusButton1" type="button" name="button">-</a>

                </div>
            </div>
            <div class="col-4 center pizza-info">
                <!-- This content will take up 6/12 (or 1/2) of the container -->
              <h2>Water Level</h2>
                <img src="water-level.png" width="150">
                <h3>
                    <div>
                        <span class="largeTotalOne">Water Level: {{largePizzaTotal}} L</span>
                        
                    </div>
                </h3>

                <div class="circleButton plusButton1">

                    <a href="/add-large" class="circleButton plusButton1" type="button" name="button">+</a>

                </div>

              
                <div class="circleButton plusButton1">

                    <a href="/minus-large" class="circleButton plusButton1" type="button" name="button">-</a>

                </div>
            </div>
        </div>

       
    </div>
    <script src="pizzaCartFactory.js"></script>
    <script src="pizzaCart.js" charset="utf-8"></script>
</body>

</html>